.back-to-top-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 1.5rem;
  background: var(--gradient);
  border: 1px solid var(--blue);
}

.back-to-top-btn:hover {
  background: var(--blue);
}
