.flex-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0.5rem 3rem;
  min-height: 90vh;
}

.left-component {
  margin-top: 4rem;
}

.Discover-new-heading,
.crypto-currency-heading {
  font-size: 5rem;
  margin: 0;
  font-weight: 400;
}

.Discover-new-heading {
  color: var(--white);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--white);
}

.crypto-currency-heading {
  color: var(--blue);
}

.Discover-new-heading:hover {
  background: -webkit-linear-gradient(
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--white);
  transition: all 0.3s;
}
.info-text {
  font-size: 1rem;
  color: var(--grey);
}

.btn-flex {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.gradient-container {
  width: 50%;
  position: relative;
  display: inline-block;
}

.layer {
  position: absolute;
  top: 15rem;
  right: 0rem;
  min-width: 560px;
  width: 90%;
}

.tower {
  position: relative;
  width: 100%;
}

.bottom {
  position: absolute;
  z-index: 100;
  right: 1.5rem;
  min-width: 560px;
  width: 90%;
}

@media only screen and (max-width: 1250px) {
  .Discover-new-heading,
  .crypto-currency-heading {
    font-size: 3.5rem;
    margin: 0;
  }
  .coin {
    top: 2rem;
    right: 50%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 850px) {
  .info-text {
    width: 50%;
  }
}

@media only screen and (max-width: 1110px) and (min-width: 850px) {
  .Discover-new-heading,
  .crypto-currency-heading {
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .layer {
    top: 10rem;
    right: 0rem;
    min-width: 460px;
  }

  .bottom {
    right: 1.5rem;
    min-width: 460px;
    right: 0;
  }
}

@media only screen and (max-width: 850px) {
  .flex-info {
    flex-direction: column;
    margin-top: 0;
  }

  .left-component {
    margin-top: 0;
    width: 100%;
  }

  .Discover-new-heading,
  .crypto-currency-heading {
    font-size: 2.5rem;
    text-align: center;
  }

  .info-text {
    text-align: center;
  }

  .btn-flex {
    justify-content: center;
  }

  .gradient-container {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 5rem;
  }

  .layer {
    left: 7%;
    min-width: 200px;
  }

  .bottom {
    left: 7%;
    min-width: 200px;
  }
}
